body{
background: lightgray;
font-family: "Monserrat", sans-serif;
margin: 0;
}

.wrapper{
background: #0197b0;;
display: flex;
columns:25%  4;
flex-direction: row;

margin:auto;
width: auto;
height: 15rem;
font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
color: #FFFFFF;


}

.como-ajudar{
    background: #401332;
    border-radius: 20px;
    display: ????;
    padding: 2rem;
    margin:1.5rem;
    width: 25%;
    font-size: 20px;
    
}
.como-ajudar :nth-child(1){
    color: #FFFFFF;

}

.redes-sociais{

}

.sobre-nos{

}

.formas-pagamento{

}








/*padding: 80px 60px;
background:#00A3DF;
display: grid;
grid-column: 4;


`
export const Text = styled.p` 
color: #FFFFFF;
font-size: 15px;
font-weight: 400;
line-height: 35px;
`
export const Wrapper = styled.div `
background:#401332;
display: flex;
flex-direction:column;
justify-content: center;
column-gap:2px;
margin-left:15px;
width: 200px;
height: 100px;
left: 90px;
border-radius: 10px;
*/