body{
background: lightgray;
font-family: "Monserrat", sans-serif;
margin: 0;
}
header{
    background: #0197b0;
    /*padding: 3rem;*/
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
    color: #FFFFFF;

}

section{
    background: #95c8d2;
    /*padding:22.5rem;*/
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
    color: #FFFFFF;
    font-size: 35px;
    

}
.wrapper{
background: #0197b0;;
display: grid;
grid-template-columns:1.5fr 1fr 1fr 1.4fr;
flex-direction: row;
margin:auto;
width: auto;
height: 15rem;
font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
color: #FFFFFF;

}

.como-ajudar{
    background: #401332;
    border-radius: 10px;
    padding: 1rem 2.5rem;
    margin: 2rem;
    max-width: 11.5rem;
    max-height: 6.5rem;
    font-size: 20px;
    color: #FFFFFF;
    flex-wrap: nowrap;
}
.click-aqui{
    font-size: 0.7rem;
    text-decoration: none;
    color: #FFFFFF;
    display:flex;
    justify-content: left;
    margin-top: 50px;
}

.redes-sociais{
display: flex;

}

.sobre-nos{
margin-top: 25%;

}

.formas-pagamento{
align-items:center;
margin-top:45%; /* TO DO: ver como div nao vazar*/
}








/*padding: 80px 60px;
background:#00A3DF;
display: grid;
grid-column: 4;


`
export const Text = styled.p` 
color: #FFFFFF;
font-size: 15px;
font-weight: 400;
line-height: 35px;
`
export const Wrapper = styled.div `
background:#401332;
display: flex;
flex-direction:column;
justify-content: center;
column-gap:2px;
margin-left:15px;
width: 200px;
height: 100px;
left: 90px;
border-radius: 10px;
*/